@import "../variables";


// ブロックのベース。背景とタイトル
.block {
	position: relative;
	width: 100%;
	overflow-x: hidden;

	&.is-hide{
		display: none;
	}

	.block-inner{
		display: flex;
		flex-direction: column;
		width: 100%;
		text-align: center;

		// 編集画面用の設定
		&:empty{
			display: none;
		}

		&.is-no-vertical-space{
			padding-top: 0;
			padding-bottom: 0;
		}

		.title-en{
			font-family: $font-family-en;
			font-size: 24px;
			margin-top: 0;
			margin-bottom: 0;

			.num{
				font-size: 2em;
				margin-left: .25em;
			}
		}
		.title-ja{
			font-family: $font-family-base;
			font-weight: $font-weight-bold;
			font-size: 52px;
			margin-top: 0;
			margin-bottom: 0;
			line-height: calc(78 / 64);
		}
		.description{
			font-family: $font-family-base;
			font-weight: $font-weight-bold;
			font-size: 18px;
			line-height: calc(32 / 18);
		}
	}

	// 内容本体
	.block-insert{
		max-width: $base-max-width;
		min-height: 100vh;
		width: 100%;
		margin: 0 auto;
		padding-top: 240px;
		padding-bottom: 240px;
		clear: both;
		& + .block-insert{
			margin-top: 40px;
		}

		// 全幅
		&.is-full{
			max-width: 100%;
		}

		// 幅広
		&.is-wide{
			max-width: $wide-max-width;
		}

		@include layout-s(){
			max-width: 100%;

			// 全幅 幅広
			&.is-full, &.is-wide{
				max-width: 100%;
			}
		}

		// 全幅ではない要素も強制的に全幅にする。
		.is-width-full{
			padding-right: calc(50vw - 50%);
			padding-left: calc(50vw - 50%);
			margin-right: calc(50% - 50vw);
			margin-left: calc(50% - 50vw);
		}

		figure{
			margin: 0;
		}
	}
}
