body.login {display: flex; justify-content: center; align-items: center;}
body.login div#login {margin-top: 5%;}
body.login div#login h1 a {background-image: url(../img/img_admin-logo.png); width:300px; height:80px; background-size:contain;}
