// カラー設定
$black: #131415;
$tint-black: rgba($black, .2);
$white: #FFF;
$blue: #0088FF;
$red: #FF3100;
$light-gray: #FAFAFA;
$gray: #F2F1EF;

$primary: $black;
$primary-darken: rgba(darken($primary, 15%), .5);
$secondary: $blue;
$danger: $red;
$default: $black;
$light: $white;
$info: $gray;

// 主要なカラーの配列
$colors: $primary, $secondary, $default, $light, $danger, $info;
$colors-str: 'primary', 'secondary', 'default', 'light', 'danger';

// 主要コンポーネントのサイズ設定
$header-height: 64px;
$footer-height: 52px;

// 最低でも確保する再度のスペース
$min-side-space: 20px;

// ボーダー
$border-base: 1px dashed $black;
$border-radius-full: 1000px;
$border-radius-large: 40px;
$border-radius-medium: 24px;
$border-radius-small: 8px;

// フォント設定
@font-face {
	font-family: "Neutra2Display-Titling";
	src: url("../font/Neutra2Display-Titling.otf") format("opentype");
}
@font-face {
	font-family: "Hiragino Sans";
	src: local(HiraginoSans-W0);
	font-weight: 100;
}
@font-face {
	font-family: "Hiragino Sans";
	src: local(HiraginoSans-W1);
	font-weight: 200;
}
@font-face {
	font-family: "Hiragino Sans";
	src: local(HiraginoSans-W2);
	font-weight: 300;
}
@font-face {
	font-family: "Hiragino Sans";
	src: local(HiraginoSans-W3);
	font-weight: 400;
}
@font-face {
	font-family: "Hiragino Sans";
	src: local(HiraginoSans-W4);
	font-weight: 500;
}
@font-face {
	font-family: "Hiragino Sans";
	src: local(HiraginoSans-W5);
	font-weight: 600;
}
@font-face {
	font-family: "Hiragino Sans";
	src: local(HiraginoSans-W6);
	font-weight: 700;
}
@font-face {
	font-family: "Hiragino Sans";
	src: local(HiraginoSans-W7);
	font-weight: 800;
}
@font-face {
	font-family: "Hiragino Sans";
	src: local(HiraginoSans-W8);
	font-weight: 900;
}
// @font-face {
//	 font-family: "Hiragino Sans W9";
//	 src: local(HiraginoSans-W9);
//	 font-weight: 900;
// }

$font-family-base: "Hiragino Sans", "YuGothic", "Yu Gothic", "メイリオ", sans-serif;
$font-family-en: "Neutra2Display-Titling";
$font-family-ja: "Hiragino Sans";

$font-weight-normal: 600; //基本ウェイト 「 ヒラギノ角ゴ：W6 」
$font-weight-bold: 800; //基本ボールド 「 ヒラギノ角ゴ：W8 」

$font-size-base: 18px;//基準サイズ

$font-color-base: $black;
$font-color-primary: $primary;

// リンクカラー
$link-color: $black;
$link-color-visited: $black;
$link-color-hover: $black;

$line-height-base: 1.875;

// ベースとなる最大幅
$base-max-width: 1100px;//幅未設定時
$wide-max-width: 1300px;//幅広設定


// ウィンドウサイズ毎のレイアウト設定
$layout-l: 1136px; // ノートPCなど
$layout-m: 680px; // タブレット系
$layout-s: 480px;	// スマホ
$layout-xs: 320px;	// SEなどの小さいスマホ
@mixin layout-l {
	@media (min-width: ($layout-l)) {
		@content;
	}
}
@mixin layout-m {
	@media (min-width: ($layout-m)) and (max-width: ($layout-l)) {
		@content;
	}
}
@mixin layout-s {
	@media (max-width: ($layout-m)) {
		@content;
	}
}
@mixin layout-xs {
	@media (max-width: ($layout-xs)) {
		@content;
	}
}

// テキストを3点リーダーで省略する
@mixin line-clamp($line:1) {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: $line;
	-webkit-box-orient: vertical;
}
