@import "./variables";

.form{
	$font-size: 16px;
	$font-weight: $font-weight-normal;
	$space-between: 20px;
	$form-col-width: 100%;

	max-width: 740px;
	margin-left: auto;
	margin-right: auto;

	p:empty{
		display: none;
	}

	.form-row{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		line-height: 1;
		padding: 20px 0;

		.form-col{
			display: flex;
			justify-content: center;
			align-items: flex-start;
			width: $form-col-width;

			&:not(.is-btn-wrap) > * + *{
				margin-left: $space-between;
			}

			&.is-btn-wrap{
				flex-direction: column;
				align-items: center;

				// ボタンとローダーがラップされるタグ
				> p{
					position: relative;
					width: 100%;
					margin: 0;

					.ajax-loader{
						position: absolute;
						top: 0;
						bottom: 0;
						right: 6em;
						margin: auto;
						border-radius: 50%; width: 10em; height: 10em;
						background: none;
						&::after{
							border-radius: 50%; width: 10em; height: 10em;
						}

						font-size: 2px;
						text-indent: -9999em;
						border-top: 1.5em solid rgba(255, 255, 255, 0.2);
						border-right: 1.5em solid rgba(255, 255, 255, 0.2);
						border-bottom: 1.5em solid rgba(255, 255, 255, 0.2);
						border-left: 1.5em solid #ffffff;
						transform: translateZ(0);

						&.is-active{
							animation: spin .8s infinite linear;
						}
					}
					@-webkit-keyframes spin {
						0% {transform: rotate(0deg);}
						100% {transform: rotate(360deg);}
					}
					@keyframes spin {
						0% {transform: rotate(0deg);}
						100% {transform: rotate(360deg);}
					}
				}

				.wpcf7-response-output{
					width: 100%;
					margin: 0 0 1.5em;
					padding: 1em;
					//border-radius: 8px;
					border: none;

					&.wpcf7-validation-errors{
						background-color: rgba($danger, .1);
						color: $danger;
					}
					&.wpcf7-mail-sent-ok{
						background-color: rgba($secondary, .1);
						color: $secondary;
					}
				}

				.recaptcha-policy {
					padding: 0;
					margin: 1.8em 0 0;
					text-align: center;
					font-size: 10px;
					color: $default;
					line-height: calc(22 / 13);

					a {
						font-weight: $font-weight;
						padding-left: .5em;
						padding-right: .5em;
						text-decoration: none;
					}
				}
			}
		}

		.note{
			font-size: 13px;
			line-height: calc(22 / 13);
			text-align: left;
			width: $form-col-width;
		}

		& + .form-row{
			margin-top: $space-between;
		}
	}

	//.input, .textarea{
	.wpcf7-form-control-wrap{//contactform7のwrapperクラスに変更
		position: relative;
		display: inline-flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;

		// フォーカスした時のlabelのスタイル
		@mixin focus-label($highlight:true) {
			top: -.9em !important;
			font-size: 11px;
			background-color: $white;
			padding-left: 2px;
			padding-right: 2px;
			margin-top: 0;
			@if $highlight {
				color: rgba($primary, 1);
			} @else {
				color: rgba($default, .4);
			}
		}

		input, textarea{
			appearance: none;//form関連要素をデザインできるようにするための魔法
			width: 100%;
			padding: 12px 0;
			box-shadow:0px 1px 0px 0px rgba($default, .6);
			//border-radius: $border-radius-small;
			border: none;
			transition: box-shadow .35s ease;
			font-size: $font-size;
			font-weight: $font-weight;

			&:hover{
				box-shadow:0px 1px 0px 0px rgba($default, 1);
			}
			&:focus,
			&.wpcf7-not-valid:focus{
				box-shadow:0px 2px 0px 0px rgba($primary, 1);
				outline: none;
			}

			// 一瞬表示されても大丈夫なように透明色に設定
			&::placeholder{
				color: rgba($light, .0);
			}
			// フォーカスがはずれて何も入力されていなかった時
			&:not(*):placeholder-shown + label{
				@include focus-label(false);
			}
			// 何か入力されている時
			//&[aria-invalid="false"] + label,
			&[data-has-value="true"] + label{
				@include focus-label();
				color: rgba($default, .4);
			}
			// フォーカスされた時
			&:focus + label{
				@include focus-label();
			}
			// 入力必須状態
			&[aria-required="true"] + label{
				&::after{
					content: "*";
					color: red;
					margin-left: .1em;
					transform: translateY(1px);
					display: inline-block;
				}
			}

			// 入力内容が無効だった時
			&.wpcf7-not-valid{
				box-shadow: 0px 1px 0px 0px rgba($danger, 1);

				& + label{
					color: rgba($danger, .4);
				}

				&:focus + label{
					color: $primary;
				}
			}
		}
		label{
			display: block;
			position: absolute;
			top: -.5em;
			bottom: 0;
			left: 0;
			margin: auto;
			height: 1em;
			color: rgba($default, .4);
			font-size: $font-size;
			font-weight: $font-weight;
			line-height: 1.5;
			transition: all .15s ease-out;
			text-align: left;
		}
		input{
			&.wpcf7-not-valid + label{
				top: -2em;
			}
		}
		textarea{
			min-height: 200px;
		}
		textarea + label{
			top: 1em;
			margin-top: 0;
		}

		// 入力不備などの注意文言
		.wpcf7-not-valid-tip{
			padding-top: .75em;
			font-size: 13px;
		}
	}

	.btn{
		width: 100%;
		border: none;
		transition: all .25s ease;
	}

	.row{
		display: flex;
		justify-content: flex-start;
		align-items: center;

		.text{
			width: $form-col-width;
			padding-right: $space-between;
		}

		.img{
			width: $form-col-width;
		}

		& + .form-row{
			margin-top: $space-between;
		}
	}

	@include layout-m(){
		.form-row{
			flex-direction: column;

			.form-col{
				width: 100%;
				padding-left: 20px;
			}

			.note{
				width: 100%;
				padding-left: 20px;
				padding-right: 20px;
				font-size: 1.25vw;
			}
		}

		.row{
			padding-right: $space-between;
			padding-left: $space-between;
			.text{
				h3{
					font-size: 24px;
				}
			}
		}
	}

	@include layout-s(){
		.form-row{
			flex-direction: column;

			.form-col{
				flex-direction: column;
				width: 100%;
				padding-left: 20px;

				& > * + *{
					margin-left: 0 !important;
					margin-top: $space-between;
				}
			}

			.note{
				width: 100%;
				padding-left: 20px;
				padding-right: 20px;
				font-size: 10px;
			}
		}

		.row{
			display: block;

			.text{
				width: 100%;
				padding-left: 20px;

				h3{
					font-size: 18px;
				}
				ul{
					font-size: 13px;
				}
				p{
					font-size: 13px;
				}
			}

			.img{
				display: none;
			}
		}
	}
}
