@import "./variables";


body > header{
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 36px;
	font-family: $font-family-en;
	line-height: 1;
	color: $light;
	transition: color .25s ease;

	&.is-default{
		color: $default;

		h1{
			transform: scale(.6);
		}
		.menu{
			transform: scale(.8);
		}
	}

	h1{
		font-size: 36px;
		margin: 0;
		transform-origin: top left;
		transition: transform .25s ease;
		a{
			color: inherit;
			text-decoration: none;
			small{
				font-size: 24px / 36px * 1em;
			}
		}
	}
	.menu{
		transform-origin: top right;
		transition: transform .25s ease;
		.global-menu{
			display: flex;
			list-style: none;
			margin: 0;
			padding: 0;
			.menu-item{
				& + .menu-item{
					margin-left: 36px;
				}
				> a{
					color: inherit;
					text-decoration: none;
					font-size: 15px;
				}
			}
		}
	}
}
