@charset "UTF-8";

@import "~normalize.css/normalize.css"; //ブラウザ毎に違うスタイルを統一化
@import "~swiper/src/swiper"; //Swiper用スタイル
@import "./variables";

*,
*::before,
*::after {box-sizing: border-box;}
html{
	height: 100%;
	font-size: 62.5%;

	// WordPress管理画面でなければ
	// &:not(.block-editor-editor-skeleton__html-container) {
	// 	background-color: $light;
	// 	transition: opacity 1s ease;
	// 	opacity: 0;
	// 	visibility: hidden;
	// 	&.wf-active{
	// 		opacity: 1;
	// 		visibility: visible;/* web font 読み込みチラつき対策 */
	// 	}
	// }
}
body {
	position: relative;
	font-size: 14px;
	font-size: 1.4rem;
	height: 100%;
	position: relative;
	color: $black;
	font-family: $font-family-base;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	word-wrap: break-word;
	word-break: break-word;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "palt";
	/* letter-spacing: 0.06em; */
	z-index: 0;
	line-height: $line-height-base;
	background-color: $light;
}
img {max-width: 100%;}
a {transition: 0.3s; color: $black;}
a:hover {opacity: .6;}


body > main{
	position: relative;
	z-index: -1; //blockが-1設定のため、クリッカブルにするために指定している
}



// layoutのサイズによる非表示設定
@include layout-l(){.is-l-hide{display: none !important;}}
@include layout-m(){.is-m-hide{display: none !important;}}
@include layout-s(){.is-s-hide{display: none !important;}}
@include layout-xs(){.is-xs-hide{display: none !important;}}



// recaptchaバッジの非表示
.grecaptcha-badge { visibility: hidden; }


// copyright
.copyright{
	display: inline-flex;
	align-items: center;
	.mark{
		font-size: 2em;
		font-weight: 300;
		margin-right: .1em;
		line-height: 1;
	}
}


.block{

	mark{
		background: linear-gradient(149deg, #FF0850 0%, #E000A3 100%);
		-webkit-background-clip: text;//テキストでくり抜く
		-webkit-text-fill-color: transparent;//くり抜いた部分は背景を表示
	}
}
